In [1]:
print('Jai Sri Ram') # welcome
# Single line comment

Jai Sri Ram

In [7]:
# playing with the quotes
print("Srimathe Ramanujaya Namaha") # simple double quotes
print('sri varavara munaye nammaha') # simple single quotes
print ('"Jai Sri Krishna"') # double quoted string
print("'Hare Rama Hare Rama'") # sinle quoted string
print('it isn\'t looking good') # using \ to insert quotes
print(""" he said "do not quit" quitting isn't an option """) # Triple quotes a fool proof way of enclosing strings

Srimathe Ramanujaya Namaha
sri varavara munaye nammaha
"Jai Sri Krishna"
'Hare Rama Hare Rama'
it isn't looking good
 he said "do not quit" quitting isn't an option

In [8]:

# integer division
a=12
b=13
print(a/b)
# yields float
width=12
height=13.0
print(width/height)
print(height/width)
# again yields float

0.9230769230769231
0.9230769230769231
1.0833333333333333

In [1]:
somename='Visitor'

In [3]:
print("Hello "+somename+"Welcome to this new world of python") # string concatination using + symbol
print(f'hello {somename} welcome to this new world of python') # using the f string

Hello VisitorWelcome to this new world of python
hello Visitor welcome to this new world of python

In [14]:
x=0
y=1.78
if x==0:
    if y<=2.0:
        print("and gate")

and gate

In [13]:
# look at this 
x=0
y=5
if 0==x:
    if 5.0==y:
        print("true")

true

In [17]:

temp="5 degrees"
try:
    far=12.4*float(temp)
    print(far)
except:
    print("cannot convert string to float")

cannot convert string to float

In [19]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
        break
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Smallest: 3

In [13]:
number1=None
number2=5
if number1 is None and  number2 is not number1:
    print("is and is not ")

is and is not

In [5]:
0==0.00

True

In [15]:
word = "bananana"
i = word.find("na")
print(i)

2